
CONTRACT_ADDRESS='0x34c61EA91bAcdA647269d4e310A86b875c09946f' # ETICA MAINNET smart contract address
MAIN_RPC='https://eticamainnet.eticascan.org' # Please enter your own rpc
#running an Etica node is easy, it will make the network more decentralised and guaranty the authenticity of the data stored in Database

#CONTRACT_ADDRESS='0x558593Bc92E6F242a604c615d93902fc98efcA82' A Testnet Etica smart contract
#MAIN_RPC='http://173.212.202.226:8545' A Testnet rpc

## OPTIONAL, if you run api-server.js, the api will be available on this port (update your firawall accordingly):
API_PORT=6633



## ------- DATABASE CONFIG -------- ##

## DB_CLIENT_TYPE
## Select a Database type and fill connection information of appropriate DB_CLIENT_TYPE
## Supported databases: mysql, mysql2, pg, sqlite3, pg-native
#DB_CLIENT_TYPE='mysql'
DB_CLIENT_TYPE='mysql2'


MYSQL_HOST=localhost
MYSQL_DATABASE='eticaenginedb'
MYSQL_USER='root'
MYSQL_PASSWORD='root'
MYSQL_PORT=3306

#DB_CLIENT_TYPE='pg'
PG_HOST='localhost'
PG_DATABASE='eticaenginedb'
PG_USER='root'
PG_PASSWORD='root'
PG_PORT=5432


#DB_CLIENT_TYPE='sqlite3'
SQLITE3_FILENAME='./mydb.sqlite'
SQLITE3_FLAGS= [] ## optional, example: ['OPEN_URI', 'OPEN_SHAREDCACHE']


# If you want to use CockroachDB or Redshift instance, you can use the pg driver.

## ------- DATABASE CONFIG -------- ##